# In container: chown root:root /run/named/ -R

services:
  dns:
    image: internetsystemsconsortium/bind9:9.20
    container_name: bind9
    restart: always
    entrypoint: []
    command:
      ["/usr/sbin/named", "-u", "root", "-g", "-c", "/etc/bind/named.conf"]
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "127.0.0.1:953:953/tcp"
    volumes:
      - ./config:/etc/bind
      - ./cache:/var/cache/bind
      - ./records:/var/lib/bind
    networks:
      - bind9

networks:
  bind9:
    name: bind9
    driver: bridge
